*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Roboto', sans-serif;    
}

.coupon{
      display: block;
    &__container{
        position: fixed;
        overflow: auto;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(0,0,0,0.5);
    }
    &__button{
        max-width: 208px;
        width: 100%;
        height: 57px;
        background-color: #B0CB1F;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__get{
        padding: 19px;
        text-align: center;
        font-family: 'Roboto', sans-serif;  
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        cursor: pointer;
        &:hover{
            
            border-radius: 15px;
            color: white;
        }
        &:active{
            
            border-radius: 15px;
            box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25);
        }
    }
}


/* modal */
.modal{
        display:none;
        position: fixed;
        overflow: auto;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    &-content{
        max-width: 430px;
        margin: 0;

        position: relative;
        background: #FFFFFF;
        box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
        //border: 1px solid black;
        // padding: 42px 49px 43px 48px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
       
        
    }
}
.close{   
    right: 23px;
    top: 4px;
    width: 18px;
    height: 19px;
    font-size: 42px;
    font-weight: 300;
    position: absolute;
    cursor: pointer;
}
.form{
    padding: 42px 49px 43px 48px;
    &__title{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        max-width: 270px;
        margin: 0 auto;
        margin-bottom: 28px;
    }
    &__bonus{
        font-weight: 800;
        font-size: 28px;
        line-height: 100%;
    
    }
    &-button{
        text-align: center;
        padding-top: 30px;
        & button{
            outline: none;
            border: 0;
            max-width: 147px;
            width: 100%;
            height: 48px;
            background-color: #B0CB1F;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            cursor: pointer;
            &:hover{
            
                border-radius: 15px;
                color: white;
            }
            &:active{
                
                border-radius: 15px;
                box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25);
            }
            
        }
    }
     
}
.input-validation__message{
    display:none;
    color: red;
}
/* send success form */
.send-success{
    &__container{
        padding: 43px 0 40px 0;
    }
    &__photo{
        margin: 23px 0 24px 0;
    }
    .form__title{
        margin-bottom:0;
    }
}



/*/ send success form */

.checkbox__text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 100%;
    /* or 16px */


    color: #000000;
    & a{
        font-family:'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        /* or 16px */


        color: #000000;
    }
}

.button__text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

input[placeholder]{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #000000;
}
input[type="text"]{
    color: red;
}
input{
    color: red;
    // background: red;
}

.input--theme-default{
    margin-bottom: 14px;
}
.input__control{
    border: 0;
    width: 100%;
    height: 34px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
    padding: 9px 9px 9px 17px;
}


/* input checkbox style */
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label
{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}


input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before
{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
    // border: 1px solid #dddddd;
    // background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after 
{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #B0CB1F;
    border-bottom: 4px solid #B0CB1F;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after
{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after 
 {
    opacity: 1;
}




/* template coupon */

.template__coupon{
    max-width:1080px;
    width: 100%;

    display: block;

    background-color: #E5E5E5;

    &-wrapper{
        padding: 58px 58px 103px 58px;
    }
    &-container{}
    &-coupon{
        max-width: 963px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        display: flex;
       
        
        & img{
            width: 100%;
        }
    }
    &-logo{
        position: absolute;
        max-width: 421px;
        max-height: 140px;
        width: 44%;
        top: 15%;
        & img{
            width: 100%;
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            left: 0%;
            max-width: 496px;
            width: 100%;
            height: 3px;
            background-color: #000;
        }
    }
    &__block{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.template-counter{
    position: absolute;
    bottom: 19%;
    &__container{
        & span{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 72px;
            line-height: 84px;
    
            color: #000000;
        }
    }
}

@media screen and (max-width:1024px){
    .template-counter__container{
        & span{
            font-size: 62px;
        }
    }
}
@media screen and (max-width:1024px){
    .template-counter__container{
        & span{
            font-size: 62px;
        }
    }
}
@media screen and (max-width:824px){
    .template-counter__container{
        & span{
            font-size: 52px;
        }
    }
}
@media screen and (max-width:768px){
    .template-counter{
        bottom: 15%;
    }
    .template-counter__container{
        & span{
            font-size: 42px;
        }
    }
}
@media screen and (max-width:668px){
    .template-counter{
        bottom: 13%;
    }
    .template-counter__container{
        & span{
            font-size: 32px;
        }
    }
}
@media screen and (max-width:568px){
    .template-counter{
        bottom: 9%;
    }
    .template-counter__container{
        & span{
            font-size: 30px;
        }
    }
}
@media screen and (max-width:468px){
    .template-counter{
        bottom: 9%;
    }
    .template-counter__container{
       
        & span{
            font-size: 25px;
        }
    }
}
@media screen and (max-width:438px){
    .template-counter{
        bottom: 1%;
    }
    .template-counter__container{
       
        & span{
            font-size: 20px;
        }
    }
}
@media screen and (max-width:375px){
    .template-counter{
        bottom: -3%;
    }
    .template-counter__container{
       
        & span{
            font-size: 16px;
        }
    }
}